<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="season">
      <h2 data-cy="seasonDetailsHeading"><span>Season</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ season.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ season.name }}</span>
        </dd>
        <dt><span>Starting Date</span></dt>
        <dd>
          <span>{{ season.startingDate | formatMediumDate }}</span>
        </dd>
        <dt><span>Ending Date</span></dt>
        <dd>
          <span>{{ season.endingDate | formatMediumDate }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/season', season.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
