<div>
  <h2 id="page-heading" data-cy="MatchHeading">
    <span>Matches</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-match"
        [routerLink]="['/match/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Match </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="matches?.length === 0">
    <span>No Matches found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="matches && matches.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="startingDate"><span>Starting Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="endingDate"><span>Ending Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="description"><span>Description</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="title"><span>Title</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="delete"><span>Delete</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="club.id"><span>Club</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="season.id"><span>Season</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let match of matches; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/match', match.id, 'view']">{{ match.id }}</a>
          </td>
          <td>{{ match.startingDate | formatMediumDate }}</td>
          <td>{{ match.endingDate | formatMediumDate }}</td>
          <td>{{ match.description }}</td>
          <td>{{ match.title }}</td>
          <td>{{ match.delete }}</td>
          <td>
            <div *ngIf="match.club">
              <a [routerLink]="['/club', match.club.id, 'view']">{{ match.club?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="match.season">
              <a [routerLink]="['/season', match.season.id, 'view']">{{ match.season?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/match', match.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button type="submit" [routerLink]="['/match', match.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(match)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="matches && matches.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
